<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tax App</title>
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="../Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../Theam/css/argon.css?v=1.0.0" rel="stylesheet">

    <script>
        function search() {
            if (document.getElementById('serchTerm').value == null ||
                document.getElementById('serchTerm').value == "") {
                window.location.href = "../Home/Search?cat=@ViewBag.cat&term=" + document.getElementById('serchTermColapsed').value;
            }
            else {
                window.location.href = "../Home/Search?cat=@ViewBag.cat&term=" + document.getElementById('serchTerm').value;
            }
        }
    </script>
</head>
<body>
    <!-- Sidenav -->
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="../Home/index">
                <img src="../Theam/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
            <!-- User -->
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-bell-55"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" src="../Theam/img/theme/team-1-800x800.jpg">
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <a href="../Client/Client" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>Clients</span>
                        </a>
                        <a href="../Tax/Consultant" class="dropdown-item">
                            <i class="ni ni-paper-diploma"></i>
                            <span>Tax Consultant</span>
                        </a>
                        <a href="../Expense/Vehicles" class="dropdown-item">
                            <i class="ni ni-delivery-fast"></i>
                            <span>Vehicles</span>
                        </a>
                        <a href="../profile/profile" class="dropdown-item">
                            <i class="ni ni-circle-08"></i>
                            <span>My profile</span>
                        </a>
                        <a href="./examples/profile.html" class="dropdown-item">
                            <i class="ni ni-support-16"></i>
                            <span>Help</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="../Landing/Logout" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="../Theam/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="search" class="form-control form-control-rounded form-control-prepended" 
                               onkeydown="if (event.keyCode == 13) { search(); return false; }"
                               placeholder="Search" aria-label="Search" id="serchTermColapsed">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../Home/index">
                            <i class="ni ni-tv-2 text-primary"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Job/Jobs">
                            <i class="ni ni-atom text-blue"></i> Jobs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Invoice/Income">
                            <i class="ni ni-money-coins text-green"></i> Income
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../expense/Expenses">
                            <i class="ni ni-credit-card text-red"></i> Expenses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Tax/TaxCenter">
                            <i class="ni ni-briefcase-24 text-yellow"></i> Tax
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../VAT/VatCenter">
                            <i class="ni ni-briefcase-24 text-orange"></i> VAT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Report/Reports">
                            <i class="ni ni-chart-bar-32 text-purple"></i> Reports
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">@ViewBag.Title</a>
                <!-- Form -->
                <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text" id="serchTerm"
                                   onkeydown="if (event.keyCode == 13) { search(); return false; }">
                        </div>
                    </div>
                </form>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="../Theam/img/theme/team-4-800x800.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">@ViewBag.ProfileName</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="../Client/Client" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>Clients</span>
                            </a>
                            <a href="../Tax/Consultant" class="dropdown-item">
                                <i class="ni ni-paper-diploma"></i>
                                <span>Tax Consultant</span>
                            </a>
                            <a href="../Expense/Vehicles" class="dropdown-item">
                                <i class="ni ni-delivery-fast"></i>
                                <span>Vehicles</span>
                            </a>
                            <a href="../profile/profile" class="dropdown-item">
                                <i class="ni ni-circle-08"></i>
                                <span>My profile</span>
                            </a>
                            <a href="./examples/profile.html" class="dropdown-item">
                                <i class="ni ni-support-16"></i>
                                <span>Help</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="../Landing/Logout" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
        <hr />

        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        <p>&copy; @DateTime.Now.Year - Tax App</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="../Home/Index" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    </div>


    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../Theam/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../Theam/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="../Theam/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../Theam/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../Theam/js/argon.js?v=1.0.0"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
