<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tax App</title>
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="../Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../Theam/css/argon.css?v=1.0.0" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
            <div class="container px-4">
                <a class="navbar-brand" href="../index.html">
                    <img src="../Theam/img/brand/white.png" />
                </a>
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tax APP</p>
        </footer>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../Theam/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../Theam/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="../Theam/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../Theam/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../Theam/assets/js/argon.js?v=1.0.0"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
