@model Model.JobViewModel

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">
                        Jobs
                    </h1>
                    @if (Model.curentJobs.Count < 1 && Model.pastJobs.Count < 1)
                    {
                        <br />
                        <div class="text-white"> No Jobs</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h3 class="mb-0">New</h3>
                                <p>Create a new job</p>
                            </div>
                            <div class="col-3 text-right">
                                <a href="/Job/NewJob" class="btn btn-primary">
                                    <i class="ni ni-fat-add"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.curentJobs != null)
            {
                foreach (var item in Model.curentJobs)
                {
                    <div class="col-xl-4">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                        </h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="/Job/Job?ID=@Html.DisplayFor(modelItem => item.JobID)"
                                           class="btn btn-sm btn-white">Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                Client:
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClientFirstName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Hours Worked:
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WorkLogHoursString)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Income:
                                            </th>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.TotalPaidString)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Expenses:
                                            </th>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.AllExpenseTotalString)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Budget Used:
                                            </th>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="mr-2">@Html.DisplayFor(modelItem => item.BudgetPercent)%</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            }
        </div>
    </div>

    <br />

    @if (Model.pastJobs != null)
    {
        <!-- Header 2 -->
        <div class="header">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            @if (Model.curentJobs != null)
                            {
                                <h1>
                                    Past Jobs
                                </h1>
                                <br />
                                <h3>
                                    @ViewBag.DateRange
                                        @if (ViewBag.View != "DS")
                                        {
                                    <a href="../Job/Jobs?view=DS"
                                       class="btn btn-sm btn-white"><i class="ni ni-settings-gear-65"></i></a>
                                        }
                                </h3>
                                if (ViewBag.View == "DS")
                                {
                                    using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div>
                                            <div class="col-lg-12 col-sm-12">
                                                Start: <input name="StartDate" type="date" value="@ViewBag.StartDateRange" /><br />
                                            
                                                End: <input name="EndDate" type="date" value="@ViewBag.EndDateRange" /><br />
                                                <br /><input type="submit" value="Select" class="btn btn-sm btn-default" />
                                            </div>
                                        </div>

                                    }
                                }
                                <br />
                            }

                            @if (Model.pastJobs == null && Model.curentJobs != null)
                            {
                                <th> No Past Jobs</th>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt--7">
            <div class="row mt-5">
                @if (Model.pastJobs != null)
                {
                    foreach (var item in Model.pastJobs)
                    {
                        <div class="col-xl-4">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h3 class="mb-0">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.JobTitle)
                                                </td>
                                            </h3>
                                        </div>
                                        <div class="col text-right">
                                            <a href="/Job/Job?ID=@Html.DisplayFor(modelItem => item.JobID)"
                                               class="btn btn-sm btn-white">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- Projects table -->
                                    <table class="table align-items-center table-flush">
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    Client:
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ClientFirstName)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Hours Worked:
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.WorkLogHoursString)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Income:
                                                </th>
                                                <td>
                                                    R @Html.DisplayFor(modelItem => item.TotalPaidString)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Expenses:
                                                </th>
                                                <td>
                                                    R @Html.DisplayFor(modelItem => item.AllExpenseTotalString)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    Budget Used:
                                                </th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="mr-2">@Html.DisplayFor(modelItem => item.BudgetPercent)%</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                }
            </div>
            @if (ViewBag.SeeMore)
            {
                <br />
                <div>
                    <a href="/Job/Jobs?PastJobsDisplayCount=@ViewBag.X"
                       class="btn btn-sm btn-white">Show More</a>
                </div>
            }
        </div>
    }
