@model Model.homeViewModel

@{
    ViewBag.Title = "Dashboard";
    int i = 0;
}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Income (Past 30 Days)</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncomeExpense.IncomePast30DaysString</span>
                                </div>
                            </div>
                            @if (@Model.DashboardIncomeExpense.IncomePast60to30DaysPercent == -999999999)
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.IncomePast60to30DaysUporDown == 'U')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP @Model.DashboardIncomeExpense.IncomePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.IncomePast60to30DaysUporDown == 'D')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2">
                                        <i class="fas fa-arrow-down"></i>
                                        DOWN @Model.DashboardIncomeExpense.IncomePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Expenses (Past 30 Days)</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncomeExpense.ExpensePast30DaysString</span>
                                </div>
                            </div>
                            @if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysPercent == -999999999)
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysUporDown == 'U')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP @Model.DashboardIncomeExpense.ExpensePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysUporDown == 'D')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fas fa-arrow-down"></i>
                                        Down @Model.DashboardIncomeExpense.ExpensePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        @if (Model.Jobs.Count > 0 && Model.Jobs != null)
        {
            foreach (var item in Model.Jobs)
            {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase ls-1 mb-1">Job</h6>
                                    <h3 class="mb-0">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobTitle)
                                        </td>
                                    </h3>
                                </div>
                                <div class="col text-right">
                                    <a href="/Job/Job?ID=@Html.DisplayFor(modelItem => item.JobID)"
                                       class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Client:
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClientFirstName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Hours Worked:
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkLogHoursString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Income:
                                        </th>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.TotalPaidString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Expenses:
                                        </th>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.AllExpenseTotalString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Budget Used:
                                        </th>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">@Html.DisplayFor(modelItem => item.BudgetPercent)%</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
            }
        }

        @if (Model.Jobs.Count < 3)
        {
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h3 class="mb-0">New</h3>
                                <p>Create a new job</p>
                            </div>
                            <div class="col-3 text-right">
                                <a href="/Job/NewJob" class="btn btn-primary">
                                    <i class="ni ni-fat-add"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br />

    <div class="row">
        @if (Model.OutInvoices.Count > 0 && Model.OutInvoices != null)
        {
            int x = 0;

            foreach (var item in Model.OutInvoices)
            {
                if (x < 3)
                {
                    <div class="col-xl-4">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase ls-1 mb-1">Unpaid Invoice</h6>
                                        <h3 class="mb-0">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                        </h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="Invoice?ID=@Html.DisplayFor(modelItem => item.InvoiceNum)" class="btn btn-sm btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                Date & Time:
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateTimeString)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Amount:
                                            </th>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.TotalCost)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Client Name:
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClientName)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                    </div>
                }
                x++;
            }

            if (x < 3)
            {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Create A New Invoice</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="../Job/JobSelector?Dest=New*Invoice" class="btn btn-sm btn-primary">New Invoice</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <br />

    <div class="row">
        @{if (Model.Expenses != null)
            {
                foreach (var item in Model.Expenses)
                {
                    if (i < 3)
                    {
                        <div class="col-xl-4">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="text-uppercase ls-1 mb-1">@Html.DisplayFor(modelItem => item.expenseType) Expense</h6>
                                            <h3 class="mb-0">@Html.DisplayFor(modelItem => item.name)</h3>
                                        </div>
                                        <div class="col text-right">
                                            <a href="@Html.DisplayFor(modelItem => item.URL)" class="btn btn-sm btn-primary">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- Projects table -->
                                    <table class="table align-items-center table-flush">
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    Date:
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.date)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.amountTital)
                                                </th>
                                                <td>
                                                    R @Html.DisplayFor(modelItem => item.amount)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.deatilTitle)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.deatil)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <br />
                        </div>
                        i = i + 1;
                    }
                }
            }
        }
    </div>

    <br />

    <div class="row">
        @if (Model.TAX.Count > 0 && Model.TAX != null)
        {
            <div class="col-xl-6">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Tax</h3>
                            </div>
                            <div class="col text-right">
                                <a href="../Tax/TaxCenter" class="btn btn-sm btn-primary">Tax Center</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Period</th>
                                    <th scope="col">Braket</th>
                                    <th scope="col">Income Recived</th>
                                    <th scope="col">TAX Est.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TAX)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="mb-0 text-sm"> @Html.DisplayFor(modelItem => item.PeriodString) </span>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaxBraketString)
                                        </td>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.IncomeSTRING)
                                        </td>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.TAXOwedSTRING)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
            </div>
        }

            @if (Model.VAT.Count > 0 && Model.VAT != null)
            {
                <div class="col-xl-6">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">VAT</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="../Vat/VatCenter" class="btn btn-sm btn-primary">VAT Center</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Period</th>
                                        <th scope="col">VAT RECEIVED</th>
                                        <th scope="col">VAT PAID</th>
                                        <th scope="col">VAT OWED EST.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VAT)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm"> @Html.DisplayFor(modelItem => item.PeriodString) </span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.VATRECEIVEDString)
                                            </td>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.VATPAIDString)
                                            </td>
                                            <td>
                                                R @Html.DisplayFor(modelItem => item.VATPAIDOutstandingEstString)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>

