@model Model.homeViewModel

@{
    ViewBag.Title = "Home Page";
    int i = 0;
}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Income (Past 30 Days)</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncomeExpense.IncomePast30DaysString</span>
                                </div>
                            </div>
                            @if (@Model.DashboardIncomeExpense.IncomePast60to30DaysPercent == -999999999)
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.IncomePast60to30DaysUporDown == 'U')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP @Model.DashboardIncomeExpense.IncomePast60to30DaysPercent %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.IncomePast60to30DaysUporDown == 'D')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>
                                        DOWN @Model.DashboardIncomeExpense.IncomePast60to30DaysPercent %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Expenses (Past 30 Days)</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncomeExpense.ExpensePast30DaysString</span>
                                </div>
                            </div>
                            @if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysPercent == -999999999)
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysUporDown == 'U')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        UP @Model.DashboardIncomeExpense.ExpensePast60to30DaysPercent %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncomeExpense.ExpensePast60to30DaysUporDown == 'D')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2">
                                        <i class="fas fa-arrow-down"></i>
                                        Down @Model.DashboardIncomeExpense.ExpensePast60to30DaysPercent %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        @if (Model.Jobs.Count > 0 && Model.Jobs != null)
        {
            foreach (var item in Model.Jobs)
            {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase ls-1 mb-1">Job</h6>
                                    <h3 class="mb-0">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobTitle)
                                        </td>
                                    </h3>
                                </div>
                                <div class="col text-right">
                                    <a href="/Job/Job?ID=@Html.DisplayFor(modelItem => item.JobID)"
                                       class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Hours Worked:
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkLogHoursString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Income:
                                        </th>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.TotalPaidString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Expenses:
                                        </th>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.AllExpenseTotalString)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            Budget Used:
                                        </th>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">@Html.DisplayFor(modelItem => item.BudgetPercent)%</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
            }
        }

        @if (Model.Jobs.Count < 3)
        {
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Start A New Job</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/Job/NewJob" class="btn btn-sm btn-primary">New Job</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br />

    <div class="row">
        @{if (Model.Expenses != null)
            {
                foreach (var item in Model.Expenses)
                {
                    if (i < 3)
                    {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase ls-1 mb-1">@Html.DisplayFor(modelItem => item.expenseType) Expense</h6>
                                    <h3 class="mb-0">@Html.DisplayFor(modelItem => item.name)</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="@Html.DisplayFor(modelItem => item.URL)" class="btn btn-sm btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            Date:
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.date)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayFor(modelItem => item.amountTital)
                                        </th>
                                        <td>
                                            R @Html.DisplayFor(modelItem => item.amount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayFor(modelItem => item.deatilTitle)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.deatil)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                </div>
                        i = i + 1;
                    }

                }
            }
        }
    </div>

    <br />

    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Tax</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Tax Center</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Month</th>
                                <th scope="col">Value</th>
                                <th scope="col">Total to Month</th>
                                <th scope="col">% of year</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">VAT</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">VAT Center</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Month</th>
                                <th scope="col">Value</th>
                                <th scope="col">Total to Month</th>
                                <th scope="col">% of year</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">May</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    $1,800 USD
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

