@model Model.TravelLog

@{
    ViewBag.Title = "Travle Log Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">
                        @Html.DisplayFor(model => model.Reason)
                    </h1>
                    <p class="text-white">For @Html.DisplayFor(model => model.JobTitle)</p>
                    <br />
                    <div>
                        @if (Model.Invoiced.Equals(false))
                        {
                            <a class="btn btn-sm btn-white" href='./EditTravleLogItem?ID=@Html.DisplayFor(modelItem => Model.ExpenseID)'> Edit</a>
                            <a class="btn btn-sm btn-white" href='./DeleteTravleLogItem?ID=@Html.DisplayFor(modelItem => Model.ExpenseID)'>Delete</a>
                            <a class="btn btn-sm btn-white" href='./JobTravelLog?ID=@Html.DisplayFor(modelItem => Model.JobID)'> Job Travel Log</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-secondary shadow border-0">

                    <div>
                        <table class="table align-items-center table-flush">
                            <tbody>
                                <tr>
                                    <th scope="row">

                                        @Html.DisplayNameFor(model => model.From)
                                    </th>
                                    <td>
                                        <a target="_blank" href='https://www.google.com/maps/search/?api=1&@Html.DisplayFor(modelItem => Model.FromGoogleURL)'>
                                            @Html.DisplayFor(model => model.From)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.To)
                                    </th>
                                    <td>
                                        <a target="_blank" href='https://www.google.com/maps/search/?api=1&@Html.DisplayFor(modelItem => Model.ToGoogleURL)'>
                                            @Html.DisplayFor(model => model.To)
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.OpeningKMs)


                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.OpeningKMs)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.ClosingKMs)


                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.ClosingKMs)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.TotalKMs)


                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.TotalKMs)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.VehicleID)


                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.VehicleName)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Date)


                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.DateString)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.SARSFuelCost)


                                    </th>
                                    <td>
                                        R @Html.DisplayFor(model => model.SARSFuelCost)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.SARSMaintenceCost)


                                    </th>
                                    <td>
                                        R @Html.DisplayFor(model => model.SARSMaintenceCost)
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.ClientCharge)


                                    </th>
                                    <td>
                                        R @Html.DisplayFor(model => model.ClientCharge)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
