@model Model.incomeViewModel

@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Income (Past 30 Days)</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncome.IncomePast30DaysString</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                            @if (@Model.DashboardIncome.IncomePast60to30DaysPercent == -999999999)
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncome.IncomePast60to30DaysUporDown == 'U')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">
                                        <i class="fa fa-arrow-up"></i>
                                        @Model.DashboardIncome.IncomePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                            else if (@Model.DashboardIncome.IncomePast60to30DaysUporDown == 'D')
                            {
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2">
                                        <i class="fas fa-arrow-down"></i>
                                        @Model.DashboardIncome.IncomePast60to30DaysPercentString %
                                    </span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            }
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Total Outstanding Income</h5>
                                    <span class="h2 font-weight-bold mb-0">R @Model.DashboardIncome.TotalOutIncomeString</span>
                                    <br />
                                    <br />
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    @if (Model.OutInvoices.Count > 0 && Model.OutInvoices != null)
    {
        <!-- Header 1 -->
        <div class="header">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <h1 class="text-white">
                                Unpaid Invoices
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h3 class="mb-0">New</h3>
                                <p>Create a new invoices</p><br />
                            </div>
                            <div class="col-3 text-right">
                                <a href="http://sict-iis.nmmu.ac.za/taxapp/Job/JobSelector?Dest=New*Invoice" class="btn btn-primary">
                                    <i class="ni ni-fat-add"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            @foreach (var item in Model.OutInvoices)
            {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">
                                        @Html.DisplayFor(modelItem => item.JobTitle)
                                    </h3>
                                    <p>
                                        for @Html.DisplayFor(modelItem => item.ClientName)<br />
                                        R @Html.DisplayFor(modelItem => item.TotalCostString) - @Html.DisplayFor(modelItem => item.DateTimeString)
                                    </p>
                                </div>
                                <div class="col text-right">
                                    <a href="Invoice?ID=@Html.DisplayFor(modelItem => item.InvoiceNum)" class="btn btn-sm btn-white">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    }

    @if (Model.OutInvoices.Count > 0)
    {
        <!-- Header 2 -->
        <div class="header">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            @if (Model.PastInvoices.Count > 0)
                            {
                                <h1>
                                    Paid Invoices
                                </h1>
                                <h3>
                                    @ViewBag.DateRange
                                    @if (ViewBag.View != "DS")
                                    {
                                        <a href="http://sict-iis.nmmu.ac.za/taxapp/Invoice/Income?view=DS"
                                           class="btn btn-sm btn-white"><i class="ni ni-settings-gear-65"></i></a>
                                    }
                                </h3>
                                if (ViewBag.View == "DS")
                                {
                                    using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-5 col-sm-12">
                                                    Start: <input name="StartDate" type="date" value="@ViewBag.StartDateRange" />
                                                </div>
                                                <div class="col-lg-5 col-sm-12">

                                                    End: <input name="EndDate" type="date" value="@ViewBag.EndDateRange" />
                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    <br />
                                                    <input type="submit" value="Select" class="btn btn-sm btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                if (Model.PastInvoices.Count > 0)
                                {
                                <h1 class="text-white">
                                    Paid Invoices
                                </h1>
                                <h3 class="text-white">
                                    @ViewBag.DateRange
                                    @if (ViewBag.View != "DS")
                                    {
                                        <a href="http://sict-iis.nmmu.ac.za/taxapp/Invoice/Income?view=DS"
                                           class="btn btn-sm btn-white"><i class="ni ni-settings-gear-65"></i></a>
                                    }
                                </h3>
                                    if (ViewBag.View == "DS")
                                    {
                                        using (Html.BeginForm())
                                        {
                                        @Html.AntiForgeryToken()

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-5 col-sm-12">
                                                    Start: <input name="StartDate" type="date" value="@ViewBag.StartDateRange" />
                                                </div>
                                                <div class="col-lg-5 col-sm-12">

                                                    End: <input name="EndDate" type="date" value="@ViewBag.EndDateRange" />
                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    <br />
                                                    <input type="submit" value="Select" class="btn btn-sm btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row mt-5">
        @if (Model.OutInvoices.Count <= 0 || Model.OutInvoices == null)
        {
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <h3 class="mb-0">New</h3>
                                @if (Model.OutInvoices.Count <= 0
                                    && Model.PastInvoices.Count <= 0)
                                {
                                    <h4>Creating an invoice for a particular job allows you to bill a client.</h4>
                                }
                                else
                                {
                                    <p>Create a new invoices</p>
                                }
                            </div>
                            <div class="col-3 text-right">
                                <a href="http://sict-iis.nmmu.ac.za/taxapp/Job/JobSelector?Dest=New*Invoice" class="btn btn-primary">
                                    <i class="ni ni-fat-add"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        }
        @if (Model.PastInvoices != null && Model.PastInvoices.Count > 0)
        {
            foreach (var item in Model.PastInvoices)
            {
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">
                                        @Html.DisplayFor(modelItem => item.JobTitle)
                                    </h3>
                                    <p>
                                        for @Html.DisplayFor(modelItem => item.ClientName)<br />
                                        R @Html.DisplayFor(modelItem => item.TotalCostString) - @Html.DisplayFor(modelItem => item.DateTimeString)
                                    </p>
                                </div>
                                <div class="col text-right">
                                    <a href="Invoice?ID=@Html.DisplayFor(modelItem => item.InvoiceNum)" class="btn btn-sm btn-white">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }
            if (ViewBag.SeeMore)
            {
                <br />
                <div>
                    <a href="http://sict-iis.nmmu.ac.za/taxapp/Invoice/Income?PastInvoiceDisplayCount=@ViewBag.X"
                       class="btn btn-sm btn-white">Show More</a>
                </div>
            }
        }
    </div>
