@model Model.SP_GetInvoice_Result
@{ViewBag.Title = "Email"; Layout = "";}
<table>
    <tbody>
        <tr>
            <td colspan="2">
                <h1 text-align="right">Tax Invoice</h1>
                <table>
                    <tr>
                        <td colspan="2">
                            @ViewBag.ProfileName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact No.:
                        </td>
                        <td>
                            @ViewBag.ProfileNo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email Address:
                        </td>
                        <td>
                            @ViewBag.ProfileEmail
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Billed To:
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.DisplayFor(model => model.EmailAddress)
                @Html.DisplayFor(model => model.ClientName)
                @Html.DisplayFor(model => model.CompanyName)
                @Html.DisplayFor(model => model.PhysiclaAddress)
            </td>
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Job:
                        </td>
                        <td align="right">
                            @Html.DisplayFor(model => model.JobTitle)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VAT Number:
                        </td>
                        <td align="right">
                            @ViewBag.VatNum
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.InvoiceNum)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(model => model.InvoiceNum)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DateTime):
                        </td>
                        <td align="right">
                            @Html.DisplayFor(model => model.DateTime)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr />
            </td>
        </tr>
        <tr>
            <td>Qty</td>
            <td>Item</td>
            <td>Unit Price</td>
            <td>Total</td>
        </tr>
        @foreach (var item in ViewBag.InvoiceItems)
        {
            <tr>
                <td align="right">@item.UnitCountString</td>
                <td>@item.Name</td>
                <td align="right">R @item.UnitCostString</td>
                <td align="right">R @item.TotalCostString</td>
            </tr>
        }


        <tr>
            <td colspan="4">
                <hr />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Excluding VAT:</td>
            <td align="right">R @ViewBag.TotalExcludingVAT</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>VAT at  @Html.DisplayFor(model => model.VATRateString)%:</td>
            <td align="right">R @ViewBag.VAT</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total Due:</td>
            <td align="right">R @ViewBag.TotalDue</td>
        </tr>
    </tbody>
    </table>