@model Model.SP_GetInvoice_Result
@{
    ViewBag.Title = "Email";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - Tax App
    </title>
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="../Theam/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../Theam/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../Theam/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../Theam/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">New Email</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="card bg-secondary shadow border-0">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-10">
                            <dt>
                                To:
                            </dt>
                            @Html.DisplayFor(model => model.ClientName) - @Html.DisplayFor(model => model.EmailAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <dt>
                                Subject:
                            </dt>
                            <input size="100" type="text" name="subject" value="Invoice for work on @Html.DisplayFor(model => model.JobTitle)">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <dt>
                                Body:
                            </dt>
                            <textarea rows="4" cols="100" name="Message"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send" class="btn btn-default" /> |
                            <input type="button" value="Cancel" class="btn btn-sm btn-white" onclick="self.close()">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="card bg-secondary shadow border-0">
                <table cellpadding="10">
                    <tr>
                        <td colspan="2">
                            <h1 text-align="right">Tax Invoice</h1>
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <dt>@ViewBag.ProfileName</dt>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Contact No.:</dt>
                                    </td>
                                    <td>
                                        @ViewBag.ProfileNo
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>Email Address:</dt>
                                    </td>
                                    <td>
                                        @ViewBag.ProfileEmail
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <hr />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <dt>Billed To:</dt>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <dd>
                                @Html.DisplayFor(model => model.EmailAddress)
                            </dd>

                            <dd>
                                @Html.DisplayFor(model => model.ClientName)
                            </dd>

                            <dd>
                                @Html.DisplayFor(model => model.CompanyName)
                            </dd>

                            <dd>
                                @Html.DisplayFor(model => model.PhysiclaAddress)
                            </dd>
                        </td>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        <dt>
                                            Job:
                                        </dt>
                                    </td>
                                    <td>
                                        <dd>
                                            @Html.DisplayFor(model => model.JobTitle)
                                        </dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>
                                            VAT Number:
                                        </dt>
                                    </td>
                                    <td>
                                        <dd>
                                            @ViewBag.VatNum
                                        </dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.InvoiceNum)
                                        </dt>
                                    </td>
                                    <td>
                                        <dd>
                                            @Html.DisplayFor(model => model.InvoiceNum)
                                        </dd>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.DateTime):
                                        </dt>
                                    </td>
                                    <td>
                                        <dd>
                                            @Html.DisplayFor(model => model.DateTime)
                                        </dd>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <hr />
                        </td>
                    </tr>

                    <tr>
                        <td>Qty</td>
                        <td>Item</td>
                        <td>Unit Price</td>
                        <td>Total</td>
                    </tr>

                    @foreach (var item in ViewBag.InvoiceItems)
                    {
                        <tr>
                            <td>@item.UnitCountString</td>
                            <td>@item.Name</td>
                            <td>R @item.UnitCostString</td>
                            <td>R @item.TotalCostString</td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td></td>
                        <td>Excluding VAT:</td>
                        <td>R @ViewBag.TotalExcludingVAT</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>VAT at  @Html.DisplayFor(model => model.VATRateString)%:</td>
                        <td>R @ViewBag.VAT</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total Due:</td>
                        <td>R @ViewBag.TotalDue</td>
                    </tr>

                </table>
                <br />
            </div>
        </div>
    </div>
</div>

<!-- Argon Scripts -->
<!-- Core -->
<script src="../Theam/vendor/jquery/dist/jquery.min.js"></script>
<script src="../Theam/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="../Theam/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../Theam/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="../Theam/js/argon.js?v=1.0.0"></script>
