@model Model.SP_GetInvoice_Result

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">
                        @ViewBag.Paid Invoice
                    </h1>
                    <p class="text-white">For <a class="text-white" href="../Job/Job?ID=@Html.DisplayFor(model => model.JobID)"> @Html.DisplayFor(model => model.JobTitle)</a></p>
                    <br />
                    <div>
                        @if (ViewBag.Paid == "Unpaid")
                        {
                            <a href="/Invoice/MarkAsPaid?ID=@Html.DisplayFor(model => model.InvoiceNum)"
                               class="btn btn-sm btn-white">Mark as Paid</a>
                        }
                        <a target="_blank" href="/Invoice/EmailInvoice?ID=@Html.DisplayFor(model => model.InvoiceNum)"
                           class="btn btn-sm btn-white">Email to Customer</a>
                        @if (ViewBag.TaxConsultant == true)
                        {
                            <a target="_blank" href="/Invoice/EmailInvoice?ID=@Html.DisplayFor(model => model.InvoiceNum)&To=Consultant"
                               class="btn btn-sm btn-white">Email to Consultant</a>
                        }
                        <a target="_blank" href="/Invoice/Print?ID=@Html.DisplayFor(model => model.InvoiceNum)"
                           class="btn btn-sm btn-white">Print</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-secondary shadow border-0">
                    <div>
                        <table cellpadding="10">
                            <tr>
                                <td colspan="2">
                                    <h1 text-align="right">Tax Invoice</h1>
                                    <table>
                                        <tr>
                                            <td colspan="2">
                                                <dt>@ViewBag.ProfileName</dt>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dt>Contact No.:</dt>
                                            </td>
                                            <td>
                                                @ViewBag.ProfileNo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dt>Email Address:</dt>
                                            </td>
                                            <td>
                                                @ViewBag.ProfileEmail
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <hr />
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <dt>Billed To:</dt>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <dd>
                                        @Html.DisplayFor(model => model.EmailAddress)
                                    </dd>

                                    <dd>
                                        @Html.DisplayFor(model => model.ClientName)
                                    </dd>

                                    <dd>
                                        @Html.DisplayFor(model => model.CompanyName)
                                    </dd>

                                    <dd>
                                        @Html.DisplayFor(model => model.PhysiclaAddress)
                                    </dd>
                                </td>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <dt>
                                                    Job:
                                                </dt>
                                            </td>
                                            <td align="right">
                                                <dd>
                                                    @Html.DisplayFor(model => model.JobTitle)
                                                </dd>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dt>
                                                    VAT Number:
                                                </dt>
                                            </td>
                                            <td align="right">
                                                <dd>
                                                    @ViewBag.VatNum
                                                </dd>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InvoiceNum)
                                                </dt>
                                            </td>
                                            <td align="right">
                                                <dd>
                                                    @Html.DisplayFor(model => model.InvoiceNum)
                                                </dd>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.DateTime):
                                                </dt>
                                            </td>
                                            <td align="right">
                                                <dd>
                                                    @Html.DisplayFor(model => model.DateTime)
                                                </dd>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <hr />
                                </td>
                            </tr>

                            <tr>
                                <td>Qty</td>
                                <td>Item</td>
                                <td>Unit Price</td>
                                <td>Total</td>
                            </tr>

                            @foreach (var item in ViewBag.InvoiceItems)
                            {
                                <tr>
                                    <td align="right">@item.UnitCountString</td>
                                    <td>@item.Name</td>
                                    <td align="right">R @item.UnitCostString</td>
                                    <td align="right">R @item.TotalCostString</td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td>Excluding VAT:</td>
                                <td align="right">R @ViewBag.TotalExcludingVAT</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>VAT at  @Html.DisplayFor(model => model.VATRateString)%:</td>
                                <td align="right">R @ViewBag.VAT</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total Due:</td>
                                <td align="right">R @ViewBag.TotalDue</td>
                            </tr>

                        </table>
                        <dl class="dl-horizontal"></dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
     