@model Model.Worklog

@{
    ViewBag.Title = "Work Log Item For "+@ViewBag.JobTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">
                        @Html.DisplayFor(model => model.Description)
                    </h1>
                    <p class="text-white">For <a class="text-white" href="http://sict-iis.nmmu.ac.za/taxapp/Job/Job?ID=@ViewBag.JobID"> @ViewBag.JobTitle</a></p>

                    <br />
                    <div>
                        @if (ViewBag.Complete == "NotDone")
                        {
                            <A class="btn btn-sm btn-white" href="http://sict-iis.nmmu.ac.za/taxapp/Job/EditJobWorkLog?ID=@Html.DisplayFor(model => model.LogItemID)&JobID=@ViewBag.JobID">Edit</A>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="card bg-secondary shadow border-0">

                <div>
                    <table class="table align-items-center table-flush">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.WorkLogHoursString)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.WorkLogHoursString)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.DateString)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DateString)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.StartTime)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.StartTimeString)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.EndTime)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.EndTimeString)
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
