@model Model.Job

@{
    ViewBag.Title = "New Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">New Job</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-secondary shadow border-0">
                    @using (Html.BeginForm())
                    {

                        <br />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ClientList", ViewBag.ClientList as SelectList)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })<p class="text-red">* Required</p>
                                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HourlyRate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HourlyRate, new { htmlAttributes = new { @class = "form-control" } })<p class="text-red">* Required</p>
                                @Html.ValidationMessageFor(model => model.HourlyRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input name="StartDate" type="date" value="@Html.DisplayFor(model => model.DefultDate)"
                                       min="@Html.DisplayFor(model => model.MinDate)"http://sict-iis.nmmu.ac.za/TaxApp/><p class="text-red">* Required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Share, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Share)
                                    @Html.ValidationMessageFor(model => model.Share, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default"http://sict-iis.nmmu.ac.za/TaxApp/> |
                                <a href='http://sict-iis.nmmu.ac.za/TaxApp/Job/Jobs'>
                                    Cancel
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }