@model Model.ReportViewModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7">
                    <h1 class="text-white">
                        @Html.DisplayFor(model => model.reportTitle)
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h3 class="mb-0">Filter: </h3>
                        </div>
                        <div class="col-10 text-right">
                            <div class="row">
                                @if (ViewBag.DropDownFilter != null)
                                {
                                    <div class="col-lg-3 col-sm-12">
                                        @Html.DropDownList("DropDownFilter", ViewBag.DropDownFilter as SelectList)
                                    </div>
                                }
                                @if (ViewBag.DropDownFilter == null || ViewBag.AlsoShowDate == true)
                                {
                                    <div class="col-lg-3 col-sm-12">
                                        Start: <input name="StartDate" type="date" value="@ViewBag.StartDateRange" />
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        End: <input name="EndDate" type="date" value="@ViewBag.EndDateRange" />
                                    </div>
                                }
                                <div class="col-lg-3 col-sm-12">
                                    <input type="submit" value="Update" class="btn btn-sm btn-default" />
                                    <a target="_blank" href="/Report/PrintReport?reportID=@ViewBag.reportID&StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&SortBy=Col1&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID"
                                       class="btn btn-sm btn-white">Print</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">
                                @Html.DisplayFor(model => model.reportCondition)
                            </h3>
                            <h4 class="mb-0">
                                @Html.DisplayFor(model => model.reportSubHeading)
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                @if (Model.column1Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col1&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column1Name)</a>
                                    </th>
                                }
                                @if (Model.column2Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col2&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column2Name)</a>
                                    </th>
                                }
                                @if (Model.column3Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col3&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column3Name)</a>
                                    </th>
                                }
                                @if (Model.column4Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col4&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column4Name)</a>
                                    </th>
                                }
                                @if (Model.column5Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col4&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column5Name)</a>
                                    </th>
                                }
                                @if (Model.column6Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col6&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column6Name)</a>
                                    </th>
                                }
                                @if (Model.column7Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col7&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column7Name)</a>
                                    </th>
                                }
                                @if (Model.column8Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col7&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column8Name)</a>
                                    </th>
                                }
                                @if (Model.column9Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col7&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column9Name)</a>
                                    </th>
                                }
                                @if (Model.column10Name != null)
                                {
                                    <th scope="col">
                                        <a href="/Report/DisplayReport?StartDateRange=@ViewBag.StartDateRange&EndDateRange=@ViewBag.EndDateRange&reportID=@ViewBag.reportID&SortBy=Col7&SortDirection=@ViewBag.SortDirection&DropDownID=@ViewBag.DropDownID">@Html.DisplayFor(model => model.column10Name)</a>
                                    </th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.ReportDataList)
                            {
                                <tr>
                                    @if (Model.column1Name != null)
                                    {
                                        if (Model.column1DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column1Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column1Data)</td>
                                        }
                                    }
                                    @if (Model.column2Name != null)
                                    {
                                        if (Model.column2DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column2Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column2Data)</td>
                                        }
                                    }
                                    @if (Model.column3Name != null)
                                    {
                                        if (Model.column3DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column3Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column3Data)</td>
                                        }
                                    }
                                    @if (Model.column4Name != null)
                                    {
                                        if (Model.column4DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column4Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column4Data)</td>
                                        }
                                    }
                                    @if (Model.column5Name != null)
                                    {
                                        if (Model.column5DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column5Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column5Data)</td>
                                        }
                                    }
                                    @if (Model.column6Name != null)
                                    {
                                        if (Model.column6DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column6Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column6Data)</td>
                                        }
                                    }
                                    @if (Model.column7Name != null)
                                    {
                                        if (Model.column7DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column7Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column7Data)</td>
                                        }
                                    }
                                    @if (Model.column8Name != null)
                                    {
                                        if (Model.column8DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column8Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column8Data)</td>
                                        }
                                    }
                                    @if (Model.column9Name != null)
                                    {
                                        if (Model.column9DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column9Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column9Data)</td>
                                        }
                                    }
                                    @if (Model.column10Name != null)
                                    {
                                        if (Model.column10DataAlignRight == true)
                                        {
                                            <td align="right">@Html.DisplayFor(model => model.ReportDataList[i].column10Data)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(model => model.ReportDataList[i].column10Data)</td>
                                        }
                                    }
                                </tr>
                                { i = i + 1; }
                            }
                        </tbody>

                        <tfoot class="thead-light">
                            @if (Model.column2Total != null
                                    || Model.column3Total != null
                                    || Model.column4Total != null
                                    || Model.column5Total != null
                                    || Model.column6Total != null
                                    || Model.column7Total != null
                                    || Model.column8Total != null
                                    || Model.column9Total != null
                                    || Model.column10Total != null)
                            {
                                <tr>
                                    @if (Model.column1Name != null)
                                    {
                                        <th>Total:</th>
                                    }
                                    @if (Model.column2Name != null)
                                    {
                                        if (Model.column2DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column2Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column2Total)</th>
                                        }
                                    }
                                    @if (Model.column3Name != null)
                                    {
                                        if (Model.column3DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column3Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column3Total)</th>
                                        }
                                    }
                                    @if (Model.column4Name != null)
                                    {
                                        if (Model.column4DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column4Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column4Total)</th>
                                        }
                                    }
                                    @if (Model.column5Name != null)
                                    {
                                        if (Model.column5DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column5Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column5Total)</th>
                                        }
                                    }
                                    @if (Model.column6Name != null)
                                    {
                                        if (Model.column6DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column6Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column6Total)</th>
                                        }
                                    }
                                    @if (Model.column7Name != null)
                                    {
                                        if (Model.column7DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column7Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column7Total)</th>
                                        }
                                    }
                                    @if (Model.column8Name != null)
                                    {
                                        if (Model.column8DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column8Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column8Total)</th>
                                        }
                                    }
                                    @if (Model.column9Name != null)
                                    {
                                        if (Model.column9DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column9Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column9Total)</th>
                                        }
                                    }
                                    @if (Model.column10Name != null)
                                    {
                                        if (Model.column10DataAlignRight == true)
                                        {
                                            <th style="text-align:right">@Html.DisplayFor(model => model.column10Total)</th>
                                        }
                                        else
                                        {
                                            <th>@Html.DisplayFor(model => model.column10Total)</th>
                                        }
                                    }
                                </tr>
                            }
                            @{i = 0;}
                            @if (Model.FooterRowList != null)
                            {
                                foreach (var item in Model.FooterRowList)
                                {
                                    <tr>
                                        @if (Model.column1Name != null)
                                        {
                                            if (Model.column1FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column1Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column1Data)</th>
                                            }
                                        }
                                        @if (Model.column2Name != null)
                                        {
                                            if (Model.column2FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column2Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column2Data)</th>
                                            }
                                        }
                                        @if (Model.column3Name != null)
                                        {
                                            if (Model.column3FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column3Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column3Data)</th>
                                            }
                                        }
                                        @if (Model.column4Name != null)
                                        {
                                            if (Model.column4FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column4Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column4Data)</th>
                                            }
                                        }
                                        @if (Model.column5Name != null)
                                        {
                                            if (Model.column5FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column5Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column5Data)</th>
                                            }
                                        }
                                        @if (Model.column6Name != null)
                                        {
                                            if (Model.column6FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column6Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column6Data)</th>
                                            }
                                        }
                                        @if (Model.column7Name != null)
                                        {
                                            if (Model.column7FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column7Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column7Data)</th>
                                            }
                                        }
                                        @if (Model.column8Name != null)
                                        {
                                            if (Model.column8FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column8Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column8Data)</th>
                                            }
                                        }
                                        @if (Model.column9Name != null)
                                        {
                                            if (Model.column9FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column9Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column9Data)</th>
                                            }
                                        }
                                        @if (Model.column10Name != null)
                                        {
                                            if (Model.column10FotterAlignRight == true)
                                            {
                                                <th style="text-align:right">@Html.DisplayFor(model => model.FooterRowList[i].column10Data)</th>
                                            }
                                            else
                                            {
                                                <th>@Html.DisplayFor(model => model.FooterRowList[i].column10Data)</th>
                                            }
                                        }
                                    </tr>
                                    { i = i + 1; }
                                }
                            }
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">
                                @Html.DisplayFor(model => model.reportCondition)
                            </h3>
                            <h4 class="mb-0">
                                @Html.DisplayFor(model => model.reportSubHeading)
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart-orders" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>