@model IEnumerable<Model.Vehicle>

@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Vehicles</h1>
                    <br />
                    <div>
                        <a class="btn btn-white" href="../Expense/NewVehicle"> New Vehicle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Page content -->
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SARSFixedCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SARSFuelCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SARSMaintenceCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClientCharge)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SARSFixedCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SARSFuelCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SARSMaintenceCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClientCharge)
                                    </td>
                                    <td>
                                        <a href="/Report/DisplayReport?reportID=0011&DropDownID=@Html.DisplayFor(modelItem => item.VehicleID)"
                                           class="btn btn-white">Travel Expenses</a>

                                        <a href="/Report/DisplayReport?reportID=0015&DropDownID=@Html.DisplayFor(modelItem => item.VehicleID)"
                                           class="btn btn-white">SARS Travel Log Book</a>

                                        <a href="/Expense/EditVehicles?ID=@Html.DisplayFor(modelItem => item.VehicleID)"
                                           class="btn btn-white">Edit</a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
                </div>
            </div>
            <br />
        </div>